<div id="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 gvtitle">
          The Grandview
      </div>
    </div>
  </div>

  <nav class="navbar navbar-toggleable-md navbar-light bg-default">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand gvmenu" routerLink="/home" routerLinkActive="active" href="#">GV</a>
  <!--Left aligned menu-->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/board" routerLinkActive="active" href="#">Board Members</a>
      </li>
    </ul>
    <!--Right aligned menu-->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mr-sm-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>


      <router-outlet></router-outlet>
</div>

<div id="footer">
  <div class="container">
    The Grandview Buckhead |
    Address: <a href="https://www.google.com/maps/place/3481+Lakeside+Dr+NE,+Atlanta,+GA+30326/@33.8490706,-84.3593072,17z/data=!3m1!4b1!4m5!3m4!1s0x88f50f5455278b8f:0xb43d728fb31c27bb!8m2!3d33.8490706!4d-84.3571185" target="_blank">3481 Lakeside Dr NE, Atlanta, GA 30326</a> |
    Phone: (404) 233-2167 |
    &copy; 2017<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>,
    <a href="https://www.linkedin.com/in/geni-palla-05985a65/" target="_blank">Geni Palla</a>
  </div>
</div>
